.container__review{
  display: grid;
  height: 100%;
  place-items: center;
  text-align: center;
  width: 1000px;
  background: #ffffff;
  padding: 20px 30px;
  border-bottom: 1px solid #051120;
  border-left: 1px solid #051120;
  border-right: 1px solid #051120;
  align-items: center;
  margin-left: 452px;
}
.container__review .post{
  display: none;
}
.container__review .text{
  font-size: 25px;
  color: #666;
  font-weight: 500;
}
.container__review .edit{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px;
  color: #FF9900;
  font-weight: 500;
  cursor: pointer;
}
.container__review .edit:hover{
  text-decoration: underline;
}
.container__review .star-widget .after__input{
  display: none;
}
.star-widget label{
  font-size: 40px;
  color: #c8c8c8;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}

.after__input:not(:checked) ~ label:hover,
.after__input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}
.after__input:checked ~ label{
  color: #fd4;
}
.after__input#rate-5:checked ~ label{
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
.after__input#rate-1:checked ~ form header:before{
  content: "I just hate it ";
}
.after__input#rate-2:checked ~ form header:before{
  content: "I don't like it ";
}
.after__input#rate-3:checked ~ form header:before{
  content: "It is awesome ";
}
.after__input#rate-4:checked ~ form header:before{
  content: "I just like it ";
}
.after__input#rate-5:checked ~ form header:before{
  content: "I just love it ";
}

.container form{
  display: none;
}
.after__input:checked ~ form{
  display: block;
}
form header{
  width: 100%;
  font-size: 25px;
  color: #fe7;
  font-weight: 500;
  margin: 5px 0 20px 0;
  text-align: center;
  transition: all 0.2s ease;
}
form .review-area{
  height: 100px;
  width: 100%;
  overflow: hidden;
}
.review-text{
  height: 50px;
  width: 100%;
  outline: none;
  color: #000000;
  border: 2px solid #FF9900;
  background: #FFFF;
  padding: 8px;
  font-size: 17px;
  resize: none;
}
.review-area :focus{
  border-color: #444;
}
form .btn{
  height: 45px;
  width: 100%;
  margin: 15px 0;
}
.btn button{
  color: #FF9900;
  border-radius: 25px;
  padding: 11px 20px;
  font-size: 15px;
  border-radius: 25px;
  font-weight: bold;
  border: 1px solid #d6d6d6;
  cursor: pointer;
  outline: 0;
  background: transparent;
}
.btn button:hover{
  background: #d6d6d6;
  color: white;
}

@media(max-width: 812px){
  .container__review{
    position: relative;
    width: 375px;
    height: 300px;
    right: 452px;
    overflow-y: hidden;
  }
}