*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
.dashboard{
    display: block;
    margin:0 auto 0 auto;
    width:100%;
    position: relative;
    top: 125px;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    flex-direction: column;
    margin-bottom: 200px;
}

.centralizer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.type-selector{
    display: flex;
    flex-direction: row;
    width: 100vw;
}
#user{
    border-top-right-radius: 15px;
}
#post{
    border-top-left-radius: 15px;
}
.selector-element{
    width: 50%;
    display: flex;
    justify-content: center;
    border: solid 3px white;
    cursor: pointer;
}

.selector-element:hover{
    border: solid orange;
}

.selected-element{
    background-color: orange;
    border: solid orange;
    color: white;
}

.card--2{
    margin: 10px;
    background-color:#fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    height: 350px;
    width: 250px;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    justify-items: center;
    position: relative;
}

.image-card{
    width: 0%;
    height: 100px;
    object-fit: cover;
}


.flex-form input[type="submit"] {
    background: #ff9900;
    border: 1px solid #ff9900;
    color: #fff;
    padding: 0 30px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
  }
  
  .flex-form input[type="submit"]:hover {   
    border: 1px solid #ff9900;
    
  }
  
  .flex-form {
    display: -webkit-box;
    display: flex;
    justify-content: center;
    z-index: 0;
    position: relative;
    width: 375px;
    font-family: 'Roboto Slab', serif;
  }
  
  .flex-form > * {
    display: flex;
    justify-content: center;
    border: 0;
    padding: 0 0 0 10px;
    background: #fff;
    line-height: 50px;
    font-size: 1rem;
    border-radius: 0;
    outline: 0;
    -webkit-appearance: none;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
  }

  input[type="search"] {
   
    flex-basis: 500px;
  }
  .titulow{   
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .subtituloww{
    font-size: 13px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    bottom: 36px;
    max-width: 230px;
  }
  .imageee-{
    width: 270px;
    height: 200px;
    object-fit: cover;
  }

  .img-user {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top: 10px;
    object-fit: cover;
  }

  .img-user2 {
    border-radius: 50%;
    border: 10px black;
    width: 240px;
    height: 240px;
    margin-left: 10px;
    margin-top: 10px;
    object-fit: cover;
    
  }

  .title--user{
    text-decoration: none;
    
    color: black;
    /* text-align: center; */
    margin-left: 25%;
  }

  .title-user {
    text-decoration: none;
    color: black;
    font-size: 13px;
    margin-left: 8px;
    /* margin: 0; */
  }

  .sub-user {
    font-size: 12px;
    color: #545d7a;
    margin-left: 10px;
  }

  .div2-style{
    display: flex;
    align-items: center;
    position: relative;
    bottom: -35px;
  }
/* https://codepen.io/kathykato/pen/dzdgPJ */

@media(min-width: 768px){
  .dashboard{
    width:50%;
  } 
  .card--2{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  }
  .type-selector{
    display: flex;
    flex-direction: row;
    width: 50vw;
  }
  .flex-form {
    display: -webkit-box;
    display: flex;
    justify-content: center;
    z-index: 0;
    position: relative;
    margin-left: 25%;
    width: 500px;
    font-family: 'Roboto Slab', serif;
  }
  .flex-form > * {
    display: flex;
    justify-content: center;
    border: 0;
    padding: 0 0 0 10px;
    background: #fff;
    line-height: 50px;
    font-size: 1rem;
    border-radius: 0;
    outline: 0;
    -webkit-appearance: none;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
  }
}