*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
.logo{
    width: 18%;
}
.geral{
    background-color: lightgrey;
}
.lista-header{
    list-style: none;
    display: flex;
    right: 100px;
    align-items: center;
}
.item-lista-header{
    display: inline-block;
    justify-content: space-between;
    padding-left: 10px;
    align-items: center;
}

.lista-header .item-lista-header{
    margin-left: 50;
    
  }
.texto-nav-link{
    text-decoration: none;
}
.texto-home{
    color: #783F04;
    text-decoration: none;
    
}