
.container--header{
  display: flex;
  z-index: 9999;
  min-width: 50px;
  max-height: 450px;
  padding: 8px;
  background: #fff;
  border-bottom: 1px solid #d6d6d6;
  border-top: 1px solid #d6d6d6;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.logo-container{
  font-size: 25px;
  font-weight: 500;
  user-select: none;
  display: flex;
  align-items: center;
  text-decoration: none;
  max-width: fit-content;
}

.logo-dev{
  color: #783f04;
}

.logo-find{
  color: #ff9900; 
}

.logo-par{
  color: #ff9900; 
  margin-left: 4px;
}

.scroll-off {
  overflow: hidden;
}

.scroll-on {
  background-color: #000;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 3;
  transition: ease .5s;
  opacity: 30%;
}

.all{
  border-radius: 20px 20px 20px 20px;
}

.icon--modal{
  position: relative;
  top: 8px;
  left: 500px;
  font-size: 28px;
  cursor: pointer;
  color: #051120;
}

.icon--modal:hover{
  color: #d6d6d6;
}

.header--title{
  position: relative;
  bottom: 4px;
  left: 98px;
  color: #051120;
  margin-top: 10px;
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  font-weight: bold;
}

.modal{
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  min-width: 200px;
  max-height: 400px;
  padding: 5px;
  transform: translate(-50%, -50%);
}

.modal--button{
  font-size: 13px;
  margin-left: 800px;
  margin-top: -10px;
  color: #051120;
  top: 10px;
  padding: 11px 20px;
  border-radius: 25px;
  font-weight: bold;
  border: 1px solid #d6d6d6;
  cursor: pointer;
  outline: 0;
  background: transparent;
}

@media(max-width: 768px){
  .modal--button{
    display: flex;
    position: relative;
    font-size: 13px;
    color: #051120;
    top: 12px;
    padding: 11px 20px;
    right: 550px;
    white-space: pre;
    
  }
.container--header{
  position: relative;
  bottom: 70px;
  right: 1px;
  border-radius: 0%;
  width: 375px;
  height: 70px;
}

.logo-container{
  font-size: 18px;
}

.header--title{
  font-size: 10px;
  position: relative;
  top: 5%;
  left: 0%;
}

.icon--modal{
  position: relative;
  top: 20%;
  left: 62%;
}

  .modal{
    position: relative;
    left: 50%;
  }
  .holder-2{
    position: relative;
    bottom: 70px;
    right: 2px;
    width: 376px;
  }
  .input-container{
    margin-top: 10px;
  }
}

.modal--button:hover{
  background: #d6d6d6;
}



.holder-2{
  display: flex;
  background: #fff;
  height: 60vh;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-size: 3rem;    
  margin-bottom: 300px;
  overflow-y: scroll;
}

.input--cadastro{
  border: 5px solid #ff9900;
  height: 50px;
  width: 270px;
  margin-bottom: 20px;
  font-size: 20px;
}

.input--cadastro3{
  border: 5px solid #ff9900;
  height: 50px;
  width: 270px;
  
  font-size: 20px;
}
.input--cadastro3::place-2{
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  margin-left: 10px;
}

.text--baixo{
  font-size: 16px;
  color: #783F04;
}
.link--text{
  text-decoration: none;
  color: #ff9900;
}
.form--modal{
  margin: 0;
}
.form--modal .private-inp{
  border: 5px solid #ff9900;
  font-family: 'Roboto Slab', serif;
  display: block;
  background: transparent;
  margin-top: 250px;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.save--container{
  position: relative;
  bottom: 190px;
}

.input--cadastro3{
  margin: 0;
  margin-top: 10px;
}
.input-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.input-container textarea{
  resize: none;
  border: 5px solid #ff9900;
  height: 150px;
  width: 270px;
  font-size: 20px;
  margin-top: 10px;
  font-family: 'Roboto Slab', serif;
}
.input-container textarea::place-2{
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  margin-left: 10px;
  
}
.form--modal{
  margin-top: 550px;
}

#special{
  margin-top: 300px;
}

.avatar--input{
  width: max(45px, min(135px, 22vw));
  height: max(45px, min(135px, 22vw));

  border: 3.75px solid var(--tertiary);
  background: var(--gray);
  border-radius: 50%;
    cursor: pointer;
}

.avatar--input:hover{
  opacity: 0.7;
}

.bg--container{
  width: min( 400px);
  height: min( 130px);

  background: var(--tertiary);
  cursor: pointer;
}

.bg--container:hover{
  opacity: 0.7;
}

@media(max-width: 1999px){
  .container--header{
    font-size: 18px;
  }
}

@media(min-width: 1200px){
  .modal{
    z-index: 9999;
    position: absolute;
    top: 45%;
    left: 50%;
    min-width: 700px;
    min-height: 450px;
    padding: 0px;
    transform: translate(-50%, -50%);
    background: #fff;
  }
  .bg{
    z-index: 9998;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
   
  }
}