*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body{
    background-color:  white;
}

.nav-container{
    background-color: white;
    height: 60px;
    display: flex;
}

.logo{
    width: 40%;
    margin-top: 6px;
}

.icon{
    font-size: 25px;
    margin-left: 145px;
    margin-bottom: 8px;
}


.lista-header{
    list-style: none;
    right: 20px;
    align-items: center;
}

.item-lista-header{
    display: inline;
    align-items: center;
    margin-left: 20px;
}
  
.texto-nav-link{
    text-decoration: none;
}

.texto-home{
    color: #783F04;
    text-decoration: none;
}
